body {
  background-color: 
  #00ABE4
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
/*HomePage*/

/*Navbar*/
.NavLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  position: relative;
}

.PageLinks {
  width: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;

}

.PageLinks a {
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(130, 65, 65);
  border-bottom: none;
  transition: border-bottom ease-in 1s;
}

.PageLinks a:hover {
  border-bottom: 1px solid black;
}

.navIcons {
  padding: 8px;
  color: rgb(208, 206, 206);
  transition: color ease-out 1s, transform ease-out 1s;
}

.navIcons:hover {
  color: rgb(213, 104, 104);

}

.LengthCart{
  margin-left: 0px;
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}


/*Navbar-DropLink*/

.submenu-wrap {
  position: absolute;
  top: 52%;
  right: 10%;
  width: 300px;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.5s;
}

.submenu-wrap.open-menu {
  max-height: 600px;
}

.sub-menu {
  background-color: rgb(230, 188, 146);

}

.ver-info {
  display: flex;
  align-items: center;
}


/*FirstSection*/
.contenedorSlider{
  width: 100%;
  left: 0;
  top: 20%;
  height: 100vh;
  position: relative;
  animation: animationImg 14s infinite backwards;
}

@keyframes animationImg{
  0%, 100%{
    background-image: url(image-1.jpg);
  }
  25%{
    background-image: url(image-2.jpg);
  }
  50%{
    background-image: url(image-3.jpg);
  }
  75%{
    background-image: url(image-4.jpg);
  }
}
.outer{
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100vh;
  width: 100%;
}
.details{
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.details h1{
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #fff;
}

/*Shop*/

.Contenedor-Shop {
  margin: 0 auto;
  width: 75%;
  display: flex;
}

.Contenedor-Productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: calc(80%);
}

.Producto {
  background-color: #E1B0AC;
  flex-grow: 1;
  flex-basis: calc(25% - 0px);
  margin: 10px;
  text-align: center;
  font-size: 12px;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.8px;
 
}

.Prod-carac h3{
  padding: 5px;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid white;
}
.Prod-Img img {
  width: 100%;
  height: 200px;
}

.Prod-Button {
  margin-bottom: 10px;
  background-color: khaki;
  border: 1px thin black;
}

.item-cart hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: 15px 0 10px;
}
.Btn-Container{
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
.Prod-btn{
background-color: #bbb;
border: 1px solid white;
color: rgb(30, 29, 29);
transition: background-color 1.0s ease, color 1.0s ease;
}

.Prod-btn:hover{
  background-color: #7e7070;
  color: white;
}
/*Sidebar*/

.Sidebar {
  list-style: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 20px;
  width: 10%;
}

.Sidebar li {
  padding-bottom: 10px;
  cursor: pointer;
  border-bottom: 2px solid black;
  width: 100%;
  padding: 10px;
}
.range{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding: 10px;
  margin-right: 20px;
}
.range-cont{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.range-input{
 display: flex;
 align-items: center;
}

.range-input-cont input{
  width: 20px;
  margin: 10px;
}
.range-icon{
  
}
/*Modal*/
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container {
  position: relative;
  padding: 1rem;
  min-width: 320px;
  max-width: 510px;
  min-height: 200px;
  max-height: 800px;
  overflow-y: auto;
  background-color: #fff;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal.is-open {
  display: flex;
}

.Prod-Imag{
  width: 600px;
}

.Modal-Pictures{
  display: flex;

}

.Modal-Vertical-Pictures-Cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right:10px ;
}
.Modal-Vertical-Pictures img {
margin-bottom: 10px;
}
.Modal-Big-Picture {
  margin-bottom: 10px;
  }

/*Item Cart*/
.ShoppingCart {
  width: 100%;
  height: 100%;
  z-index:1 !important;
}

.ShoppingCart h4 {
  text-align: center;
}

.item-cart {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.cart-img img {
  width: 60px;
  height: 50px;
}

.item-info {
  display: flex;
  list-style: none;
  flex-direction: column;
  width: 100%;
  padding: 2px;
  font-size: 10px;
}

.item-info-segment {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.item-info-segment span {
  padding: auto 20px;
}

/*Pictures*/
.Picture-Intro {
  display: flex;
  z-index: 0;
}

.Picture-Portrait {
  height: 100%;
  width: 100%;
  display: flex;
}

.Picture-Portrait img {
  width: 700px;
  height: 100vh;
 
}

.Picture-Info {
  background-color: rgb(247, 245, 220);
  align-items: center;
  margin-top: 100px;
  margin: 60px 0px 60px -120px;
  
  padding: 20px;
}

.Carousel {
  margin-top: 30px;
  text-align: left;
}

.Carousel-Pictures {
  display: flex;

  padding: 20px;
}

.thumbnail {
  padding-left: 20px;
}

.thumbnail:first-child {
  padding: 0px;
}

.clicked {
  border: 5px solid black;
}

/*Segunda Version Carousel*/

.containerStyles{
  width: 500px;
    height: 280px;
    
}
.containerS {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-position: center;
  background-size: contain;
}

.sliderStyles {
  height: 100%;
  position: relative;
}

.SlideStyles {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: antiquewhite;
}

.rightArrowStyles{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer
}

.leftArrowStyles{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer
}

.dotsContainerStyles{
  display: flex;
  justify-content: center;
  
}

.dotStyle {
  margin: 0 3px;
  cursor: pointer;
  font-size: 60px
}

.slideStylesWidthBackground{
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background-size: cover;
  background-position: center
}


/*Prod-Searched*/
.Contenedor-Search{
  width: 80%;
  margin: 0 auto;
}

.Contenedor-Search h4{
  text-align: center;
}
.Contenedor-Productos-Searched {
display: flex;
justify-content: center;
text-align: center;
}

/*Footer*/


footer{
  height: 20vh;
  background-color: #310072;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  overflow: hidden;
}

.info-contacto-footer{
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.info-contacto-footer a{
  text-decoration: none;
  font-weight: 600;
  padding: 5px;
  font-size: medium;
  color: #bdb76b;

}

.info-uf-footer{
  padding: 5px;
  font-size: medium;
  color: #bdb76b;
}
.line-footer{
  border: 1px solid #3379e9;
  margin-right: 17px;
  height: 70%;
  
}