body {
  background-color: rgb(247, 245, 220);
}

/*HomePage*/

/*Navbar*/
.NavLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  position: relative;
}

.PageLinks {
  width: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;

}

.PageLinks a {
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(130, 65, 65);
  border-bottom: none;
  transition: border-bottom ease-in 1s;
}

.PageLinks a:hover {
  border-bottom: 1px solid black;
}

.navIcons {
  padding: 20px;
  color: rgb(208, 206, 206);
  transition: color ease-out 1s, transform ease-out 1s;
}

.navIcons:hover {
  color: rgb(213, 104, 104);

}

/*Navbar-DropLink*/

.submenu-wrap {
  position: absolute;
  top: 45%;
  right: 10%;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.5s;
}

.submenu-wrap.open-menu {
  max-height: 500px;
}

.sub-menu {
  background-color: rgb(230, 188, 146);

}

.ver-info {
  display: flex;
  align-items: center;
}

/*FirstSection*/

.FirstSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

}

.IntroSection {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  align-items: center;
}

.IntroSection p {
  font-size: 22px;
  color: slategrey;
  font-family: sans-serif;
}

.IntroSection button {

  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  color: brown;
  background-color: transparent;
  transition: background-color ease-in-out 0.5s;
}

.IntroSection button:hover {
  background-color: aliceblue;
}

.ImgIntroSection img {
  width: 60vh;
  height: 60vh;
  object-position: center;

}

/*Shop*/

.Contenedor-Shop {
  margin: 0 auto;
  width: 70%;
}

.Contenedor-Productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.Producto {
  background-color: rgb(234, 233, 208);
  flex-grow: 1;
  flex-basis: calc(25% - 0px);
  margin: 10px;
  text-align: center;
  font-size: 10px;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.Prod-Img img {
  width: 100%;
  height: 200px;

}

.Prod-Button {
  margin-bottom: 10px;
  background-color: khaki;
  border: 1px thin black;
}

.item-cart hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: 15px 0 10px;
}

/*Modal*/
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container {
  position: relative;
  padding: 1rem;
  min-width: 320px;
  max-width: 480px;
  min-height: 200px;
  max-height: 600px;
  overflow-y: auto;
  background-color: #fff;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal.is-open {
  display: flex;
}

/*Item Cart*/
.ShoppingCart {
  width: 100%;
  height: 100%;
}

.ShoppingCart h4 {
  text-align: center;
}

.item-cart {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.cart-img {
  /*padding: 10px;*/
}

.cart-img img {
  width: 60px;
  height: 50px;
}

.item-info {
  display: flex;
  list-style: none;
  flex-direction: column;
  width: 100%;
  padding: 2px;
  font-size: 10px;
}

.item-info-segment {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.item-info-segment span {
  padding: auto 20px;
}